@use './../mixins' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {

    h1 {
      font-size: rem(24);
      margin-bottom: rem(3);

      @include breakpoint-up(large) {
        font-size: rem(28);
      }
    }

    span {
      font-size: rem(14);
      font-weight: 700;
      color: var(--color_dark-text1);
    }
  }

  &__toggle {
    padding: rem(5) rem(10);
  }


  input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    height: rem(26);
    width: rem(50);
    border-radius: rem(14);
    background: var(--toggle-bg);
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
  }

  input[type="checkbox"]::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 29%;
    height: rem(21);
    width: rem(21);
    transform: translate(-50%, -50%);
    border-radius: rem(13);
    background: var(--toggle-button);
    transition: left 0.5s;
  }

  input[type="checkbox"]:checked::after {
    background: var(--toggle-button);
    left: calc(100% - 15px);
  }

}