@use './../mixins' as *;

.header {
  @include breakpoint-up(midium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {

    h1 {
      font-size: rem(24);
      margin-bottom: rem(3);

      @include breakpoint-up(large) {
        font-size: rem(28);
      }
    }

    span {
      font-size: rem(14);
      font-weight: 700;
      color: var(--color_dark-text1);
    }
  }

  &__toggle {}

  .toggle {
    border: none;
  }

}