:root {
  --color_lime-green: hsl(163, 72%, 41%);
  --color_bright-red: hsl(356, 69%, 56%);
  --color_facebook: hsl(208, 92%, 53%);
  --color_twitter: hsl(203, 89%, 53%);
  --color_youtube: hsl(0, 0%, 29%);

  --gradient_instgram: linear-gradient(320.69deg, hsl(37, 97%, 70%) 15.36%, hsl(329, 70%, 58%) 84.86%);

  --color_blue-bg: hsl(230, 17%, 14%);
  --color_blue-top: hsl(232, 19%, 15%);
  --color_card-dark-bg: hsl(228, 28%, 20%);
  --color_dark-text1: hsl(228, 34%, 66%);
  --color_dark-text2: hsl(0, 0%, 100%);
  --color_dark-card-hover: hsl(228, 25%, 27%);
  
  --color_light-bg: hsl(0, 0%, 100%);
  --color_light-top: hsl(225, 100%, 98%);
  --color_card-light-bg: hsl(227, 47%, 96%);
  --color_light-text1: hsl(228, 12%, 44%);
  --color_light-text2: hsl(230, 17%, 14%);
}